/* --- VARIABLES DE COLOR (MENTA PASTEL & DARK) --- */
:root {
    --bg-general: #e0f2f1;        /* Menta Pastel Muy Suave */
    --card-bg: #ffffff;
    --primary-menta: #4DB6AC;    /* El Verde Menta de los detalles */
    --text-main: #37474f;
    --text-muted: #78909c;
    --input-bg: #f5fcfb;
    --border-color: #cfd8dc;
}

[data-theme="dark"] {
    --bg-general: #1a1d1d;        /* Gris muy oscuro verdoso */
    --card-bg: #262a2b;           /* Tarjeta Dark */
    --primary-menta: #4DB6AC;
    --text-main: #eceff1;
    --text-muted: #90a4ae;
    --input-bg: #2f3435;
    --border-color: #3f474a;
}

/* --- ESTRUCTURA --- */
body {
    background-color: var(--bg-general);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    transition: all 0.4s ease;
}

.login-card {
    background-color: var(--card-bg);
    padding: 45px;
    border-radius: 30px;
    width: 90%;
    max-width: 360px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    text-align: center;
    position: relative;
    border: 1px solid rgba(255,255,255,0.3);
}

/* MARCA BYTS */
.byts-badge {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 0.7rem;
    font-weight: 800;
    color: var(--primary-menta);
    letter-spacing: 2px;
    opacity: 0.8;
}

/* EL ÍCONO DE LA HOJITA */
.logo {
    font-size: 3.5rem;
    color: var(--primary-menta);
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 30px;
    color: var(--text-main);
    font-weight: 600;
    letter-spacing: -0.5px;
}

/* FORMULARIO */
.form-group { margin-bottom: 20px; text-align: left; }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.85rem;
    color: var(--text-main);
}

input {
    width: 100%;
    padding: 14px;
    background-color: var(--input-bg);
    border: 2px solid var(--border-color);
    border-radius: 15px;
    color: var(--text-main);
    box-sizing: border-box;
    font-size: 1rem;
    transition: all 0.3s;
}

input:focus {
    outline: none;
    border-color: var(--primary-menta);
    background-color: var(--card-bg);
}

/* BOTÓN */
.btn-login {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-menta);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 15px rgba(77, 182, 172, 0.2);
    transition: 0.3s;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(77, 182, 172, 0.4);
}

.footer-link { margin-top: 25px; font-size: 0.85rem; color: var(--text-muted); }
.footer-link a { color: var(--primary-menta); text-decoration: none; font-weight: 700; }

.team-byts { margin-top: 30px; font-size: 0.75rem; color: var(--text-muted); }
.team-byts b { color: var(--primary-menta); }
